<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300210479768-sld9l49u8cuh7d0ek4k17m86ivc3it2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300210479768-sld9l49u8cuh7d0ek4k17m86ivc3it2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAi-R5EwTsG77kzZJs_9g_-xD685-8PQ-0</string>
	<key>GCM_SENDER_ID</key>
	<string>300210479768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorganization199.Maps</string>
	<key>PROJECT_ID</key>
	<string>maps-c06cd</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-c06cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300210479768:ios:e93b14de546f85426ee6ed</string>
</dict>
</plist>